#root {
  margin: 0 auto;
  text-align: center;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoT.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoUL.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoL.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoR.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoM.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoSB.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoB.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/AppleSDGothicNeoEB.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'AppleSDGothic';
  src: url('./assets/fonts/PretendAppleSDGothicNeoH.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
